.toolbar--material{
    background-color: #F35F64;
}


.login, .forgotpswd {
  text-align: center;
  width: 80%;
  margin: 60px auto 0;
}

#input_text {
  display: block;
  width: 100%;
  margin: 0 auto;
  outline: none;
  height: 100%;
  padding-top: 15px;
  padding-bottom: 16px;
}

.login_btn, .send_email{
  width: 100%;
  margin: 0 auto;
  background: #F35F64;
}

.forgot_pass, .rem_pass{
  display: block;
  margin: 8px auto 0 auto;
  font-size: 14px;
  color: #F35F64;
}

#search_text{
    box-shadow: none;
    height: 35px;
    padding-left: 50px;
    width: 140%;
    border-radius: 7px;
}

